/* Global style */
body{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Andika New Basic';
    src: url(./AndikaNewBasic\ /AndikaNewBasic-Regular.ttf);
}
* {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Andika New Basic', 'Arial', 'sans-serif';
}
a,a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
button{
    background-color: rgb(52, 126, 247);
    border: 1px solid rgb(27, 110, 243);
    padding: 2px 8px;
    border-radius: 4px;
    box-shadow: 0px 0px 1px 2px rgb(95, 154, 248);
    margin-right: 10px;
}
button:hover{
    background-color: rgb(95, 154, 248);
}

/* Background */
.background{
    background-color: #f1f6f9;
    height: 100%;
    position: absolute;  
    z-index: -1; 
}

/* Snackbar */
.snackbar{
    position: absolute;
    z-index: 2;
    display: none;
    justify-content: center;
    width: 100%;
}
.snackbarShow {
    display: grid;
}
.snackbar * {
    background-color: black;
    animation: slide2 1.5s forwards ;
    color: white;
    padding: 10px;
    border-radius: 20px;
}
@keyframes slide2 {
    0% {
        opacity: 0;
        transform: translateY(0px);
    } 100% {
        opacity: 1;
        transform: translateY(50px);
    }
}
/* Option */
.option{
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    place-content: center;
    z-index: 3;
}
.option > li{
    background-color: #9ba4b4;
    width: fit-content;
    height: fit-content;
    padding: 20px 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.9);
    justify-items: center;
    animation: slide 1s forwards;
}
@keyframes slide {
    0%{
        opacity: 0;
        transform: translateY(-100px);
    } 100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
.changePicture, .addDescription, .addMood, .addThought{
    display: none;
    row-gap: 20px;
}

.addDescription div:nth-child(3), .addDescription div:nth-child(2) {
    display: grid;
    grid-template-columns: 90px auto;
    justify-self: start;
}
.prevProfile {
    width: 200px;
    border-radius: 10px;
}
mood {
    font-size: 57px;
    cursor: pointer;
}

/* Nav */
nav{
    height: fit-content;
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-rows: auto auto;
}
nav ul{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
    background-color: #394867;
    padding: 5px 20px;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.9);
}
nav ul li{
    padding: 2px 4px;
    border-radius: 4px;
}
nav ul li:hover{
    background-color: #526180;   
}
nav div{
    display: grid;
    width: 100%;
    background-color: #14274e;
    color: white;
    justify-content: center;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.9);
}

/* Main */
.content {
    margin-top: 20px;
    display: grid;
    width: 100%;
    height: fit-content;
}
/* General main content style */
.content, .home, .yourDay, .history{
    display: grid;
    width: 100%;
    height: fit-content;
}
.home, .yourDay, .history{
    justify-items: center;
}
.home *:not(:last-child), .yourDay *:not(:last-child), .history *:not(:last-child){
    margin-bottom: 10px;
}
.desc, .moodAndThought, .listHistory{
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    grid-template-rows: repeat(auto-fit, minmax(fit-content, auto));
    gap: 10px 10px;
    width: 80%;
    justify-content: center;
}
.moodAndThought li, .listHistory li, .desc li {
    display: grid;
    grid-template-rows: 30px auto;
    background-color: #748299;
    width: 100%;
    height: 150px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 10px;
    box-sizing: border-box;
    align-items: flex-start;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.9);
    position: relative;
}
.desc h3, .moodAndThought h3, .moodAndThought mood, .listHistory h3, .listHistory mood{
    justify-self: end;
    padding: 4px 6px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px white;
    background-color: #393e46;
    color: rgb(180, 180, 180);
    min-height: fit-content;
    max-height: 80px;
    max-width: 240px;
    overflow-y: scroll;
    cursor: default;
}

/* Home */
.profPic{
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
}
.profPic img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.9);
}
.bubble{
    border: 1px solid black;
    border-radius: 10px;
    padding: 2px 6px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.9);
}
.home .desc li {
    height: fit-content;
}
.desc h3 {
    max-height: 120px;
}
.desc p {
    height: 30px;
    overflow-y: hidden;
}

.deleteDesc {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    place-items: center;
}

/* YourDay */
.dailyBackground {
    width: 85%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    justify-items: center;
    align-items: flex-end;
}
.dailyBackground .bubble {
    margin-bottom: 10px;
    background-color: white;
}

.moodAndThought mood {
    padding: 1px 10px;
}
/* History */

/* Mobile screen setting */
/* Background container when width is over one thousand!!! */
@media screen and (min-width: 1000px){
    .background{
        width: 90%;
        margin: 38px 5% 0px;
    }
    .desc{
        width: 85%;
    }
    .deleteDesc.descMenu {
        display: grid;
    }
}

@media screen and (max-width: 999px){
    .background{
        width: 100%;
        margin: 38px 0px 0px;
    }
}