* {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
body {
    
    font-family: sans-serif;
}
/* navigation */

header {
    padding: 5px 0;
    /* display: table; */
    display: grid;
    position: relative;
}

.title {
    margin-left: 50px;
}

.nyam {
    height: 35px;
    width: 35px;
    background-color: white;
    border-radius: 5px;
    position: fixed;
    left: 4px;
    z-index: 9999;
    display: grid;
    border: 0.5px solid black;
    place-content: center;
}
.nyam span {
    height: 2px;
    width: 20px;
    background-color: grey;
}
.nyam span::before {
    content: '';
    height: 2px;
    width: 20px;
    background-color: grey;
    position: absolute;
    top: 8px;
}
.nyam span::after {
    content: '';
    height: 2px;
    width: 20px;
    background-color: grey;
    position: absolute;
    top: 25px;
}
.nyam:hover {
    background-color: rgb(200, 200, 200);
}

aside {
    position: fixed;
    width: 180px;
    height: 100%;
    background-color: rgb(240, 240, 240);
    transform: translateX(-100%);
    display: grid;
    padding-left: 10px;
    padding-top: 10px;
}

/* main */
main {
    margin-top: 10px;
    margin-left: 5px;
    display: grid;
    justify-content: center;
}
.home {
    display: grid;
    grid-template-rows: repeat(auto-fit, auto-fit);
    row-gap: 20px;
}
.home img {
    width: 200px;
    border-radius: 50%;
}

/* option */
.upload, .addDesc {
    /* display: block; */
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    place-content: center;
}
.addMenu {
    background-color: white;
    padding: 20px;
    display: grid;
    grid-template-rows: repeat(auto-fit, auto-fit);
    row-gap: 10px;
    border-radius: 5px;
}
.uploads {
    display: grid;
}
.prevProfile {
    width: 200px;
    border-radius: 10px;
}

/* button */
button {
    padding: 10px 20px;
    background-color: rgb(66, 135, 245);
    border: 1px solid rgb(66, 135, 245);
    border-radius: 5px;
    color: white;
}
button:hover {
    background-color: rgb(25, 110, 248);
    border: 1px solid rgb(25, 110, 248);
}

.open {

    animation: asideslide 0.5s forwards;
}
.openc {
    animation: openc 0.5s forwards;
}
@keyframes asideslide {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes openc {
    0% {
        /* margin-left: 0px; */
        transform: translateX(0%);
    }
    100% {
        /* margin-left: 220px; */
        transform: translateX(185px);
    }
}